body{background-color: white;
    background-image: linear-gradient(white,white);
    margin: 0 0;
    padding: 0 0;
}


a{
    text-decoration: none;
}


.flexbox{
    display: flex;
    margin: 0;
    flex-direction: row;
    border: 0px solid pink;
    height: 70%;
    width: 100%;
    flex-wrap: wrap;
    align-items: space-evenly;
    justify-content: space-between;
}

.flexitem1{
    border: 0px solid white;
    width: 500px;
    padding: 0% 5%;
}

@media (max-width : 700px){
    .flexitem1{
        width: 100%;
        margin-bottom: 50px;
    }
}

.flexitem2{
    border: 0px solid white;
    background: linear-gradient(to bottom left, rgb(46, 46, 46), rgb(17, 17, 17));
    margin: 0 0%;
    /* height: 100%; */
    text-align: right;
}
@media (max-width : 700px){
    .flexitem2{
        width: 1005;
    }
}




#table1{
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100%;
    top: 0%;
    border: 0px solid white;
    position: fixed;
    border-bottom: 1px solid rgb(0, 174, 255);
}

#title1{
    font-family: monospace;
    font-size: 25px; 
    color: transparent;
    background-clip: text;
    background:  -webkit-linear-gradient(40deg, rgb(0, 174, 255), rgb(234, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0px;
    /* width: 90%; */
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    border: 0px solid white;
    letter-spacing: -9px;
    margin-bottom: 0;
    padding-left: 20.5%;
    text-align: left;
}

#profile{
    color: rgb(0, 174, 255);
    float: right;
    font-family: monospace;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-right: 10%;
    font-size: 40px;
    border: 0px solid white;
    /* width: 40%; */
}




#allTrades{
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    width: fit-content;
    /* outline: auto; */
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    color: black;
}

#table2{
    background: linear-gradient(to bottom left, rgb(0, 51, 75), rgb(0, 120, 175));
    border-radius: 5px;
    border: 0px solid rgb(0, 174, 255);
    /* padding: 5% 5%; */
    /* margin-bottom: 30px; */
    /* color: rgb(192, 192, 192); */
    width: 100%;
}
#dataEnter{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.data{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: right;
    margin: 13px 0px;
    font-weight: bold;
}
.dataInput{
    background-color: transparent;
    text-align: center;
    border: 1px solid rgb(190, 231, 255);
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-left: 0px;
    height: 25px;
}

#sel1{
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid hsl(198, 100%, 90%);
    height: 25px;
    font-family: monospace;
}
#sel1 option{
    background-color: rgb(0, 0, 0);
    color: white;
}
#makeEntry{
    background-color: transparent;
    height: 40px;
    margin-top: 20px;
    width: 150px;
    margin-bottom: 20px;
    font-family: monospace;
    transition-duration: 0.2s;
    font-size: 20px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}
#makeEntry:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
}

#message{
    color: white;
    font-size: 40px;
    margin-top: 50px;
}


#footer{
    background: linear-gradient(to bottom left, black, black);
    width:800px;
}

@media(max-width:700px){
    #footer{
        width:100%;
    }
}
#footer td{
    border: 0px solid  white;
}
#footerText{
    color: rgb(107, 107, 107);
    font-weight: lighter;
    font-size: 18px;
    margin-bottom: 30px;
    letter-spacing: -2px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
@media(max-width:700px){
    #footerText{
        font-size: 15px;
        color: rgb(154, 150, 185);

    }
}
#footerLogo{
    color: rgb(92, 92, 92);
    margin-top: 30px;
    font-weight: bold;
    font-style: italic;
    font-size: 110px;
    letter-spacing: -14px;
    margin-bottom: 20px;
    text-align: center;
    font-family: monospace;   
}
@media(max-width:700px){
    #footerLogo{
        font-size: 70px;
    color: transparent;
    background-clip: text;
    background:  -webkit-linear-gradient(40deg, rgb(0, 89, 255), rgb(0, 255, 42));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
}
#copyrightText{
    color: rgb(145, 145, 145);
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
@media(max-width:700px){
    #copyrightText{
        font-size: 15px;
        color: rgb(121, 112, 126);
    }
}