body {
    margin: 0 0;
    padding: 0 0;
}


a {
    text-decoration: none;
}


.flexbox {
    display: flex;
    /* margin: 0; */
    /* padding: 0 10%; */
    flex-direction: row;
    /* border: 5px solid rgb(214, 0, 0); */
    height: 70%;
    width: 100%;
    /* padding-right: 10%; */
    flex-wrap: wrap;
    /* align-items: space-evenly; */
    justify-content: space-evenly;
}

@media(max-width:700px) {
    .flexbox {
        width: 100%;
    }
}

.flexitem1 {
    /* border: 2px solid white; */
    width: 25%;
    padding: 0% 5%;
}

@media (max-width : 700px) {
    .flexitem1 {
        width: 100%;
        margin-bottom: 50px;
    }
}

.flexitem2 {
    /* border: 2px solid green; */
    /* background: linear-gradient(to bottom left, rgb(46, 46, 46), rgb(17, 17, 17)); */
    margin: 0 0%;
    height: 750px;
    text-align: right;
}

@media (max-width : 700px) {
    .flexitem2 {
        width: 100%;
        height: 100%;
    }
}






#allTrades {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    width: fit-content;
    /* outline: auto; */
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10%;
    color: black;
}

#table2 {
    background: linear-gradient(to bottom left, rgb(0, 22, 32), rgb(0, 51, 75));
    border-radius: 5px;
    border: 0px solid rgb(0, 174, 255);
    /* padding: 5% 5%; */
    /* margin-bottom: 30px; */
    /* color: rgb(192, 192, 192); */
    width: 100%;
}

#dataEnter {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.data {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: right;
    margin: 13px 0px;
    font-weight: bold;
}

.dataInput {
    background-color: transparent;
    text-align: center;
    border: 1px solid rgb(190, 231, 255);
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-left: 0px;
    height: 25px;
}

#sel1 {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid hsl(198, 100%, 90%);
    height: 25px;
    font-family: monospace;
}

#sel1 option {
    background-color: rgb(0, 0, 0);
    color: white;
}

#makeEntry {
    background-color: transparent;
    height: 40px;
    margin-top: 20px;
    width: 150px;
    margin-bottom: 20px;
    font-family: monospace;
    transition-duration: 0.2s;
    font-size: 20px;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

#makeEntry:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
}

#message {
    color: white;
    font-size: 40px;
    margin-top: 50px;
}

#notifBar {
    background-color: rgb(255, 255, 255);
    width: 60%;
    border-radius: 10px;
    /* border: 1px solid rgb(48, 48, 48); */
    box-shadow: 0px 0px 25px rgb(63, 63, 63);
    margin-left: 20%;
    border: 5px solid rgb(53, 198, 255);
    height: 140px;
    position: fixed;
    display: flex;
    top: 20%;
    justify-content: center;
    align-items: center;
}

@media (max-width : 700px) {
    #notifBar {
        top: 40%;
        width: 90%;
        margin-left: 5%;
    }
}

#notif {
    font-size: 25px;
    color: rgb(0, 177, 231);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}