body {
    background-color: rgb(255, 255, 255);
}


hr{
    border:1px solid rgb(89, 132, 151);
}

a{
    text-decoration: none;
}

input:focus{
    outline: none;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 5%;
    border: 0px solid red;
    align-items: flex-start;
    justify-content: space-around;
}

@media (max-width:700px){
    .flexbox{
        padding-top: 25%;
    }
}

@media (max-width:700px){
    #footer{
        padding-top: 0px;
    }
}




#footerLogo {
    /* color: rgb(0, 174, 255); */
    color: transparent;
    background-clip: text;
    background:  -webkit-linear-gradient(40deg, rgb(0, 174, 255), rgb(234, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-style: italic;
    width: 550px;
    outline: 0px solid red;
    margin-top: 00%;
    font-size: 250px;
    letter-spacing: -15px;
    font-family: monospace;
}
@media (max-width: 700px){
    #footerLogo{font-size: 110px;
    margin-left: -35px;
    margin-top: 0%;
    width: 220px;
    border: 0px solid white;
    }
}



td{text-align: center;}

#loginCard {
    background: linear-gradient(to bottom left, rgb(0, 24, 36), rgb(0, 91, 133));
    border: 0px solid rgb(0, 174, 255);
    border-radius: 5px;
    width: 550px;
}

@media (max-width: 700px){
    #loginCard{
        background-color: rgb(17, 17, 17);
        border-radius: 5px;
        border: 0px solid rgb(0, 174, 255);
        margin-top: -15%;
        width: 350px;
    }
}

#loginCard td{
    border: 0px solid red;
    text-align: center;
    padding: 0 0;
    width: 50%;
    
}




#dataEnter {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

@media (max-width:700px) {
    #dataEnter{
        font-size: 25px;
    }
}


.data {
    font-family: Arial, Helvetica, sans-serif;
    margin: 15%;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 24px;
}


@media (max-width:700px) {
    .data{
        font-size: 17px;
        margin: 15% 0%;
    }
}

.dataInput {
    background-color: transparent;
    border: 1px solid rgb(105, 147, 167);
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 24px;
    height: 40px;
    color: rgb(255, 255, 255);
}

@media (max-width:700px) {
    .dataInput{
        font-size: 17px;
        height: 30px;
    }
}



#makeEntry {
    background-color: transparent;
    height: 40px;
    margin-top: 20px;
    width: 150px;
    margin-bottom: 20px;
    font-weight: bolder;
    font-family: monospace;
    transition-duration: 0.2s;
    font-size: 20px;
    border: 1px solid rgb(255, 255, 255);
    color: white;
}

#makeEntry:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    width: 160px;
}



#oldUser {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: lighter;
    transition-duration: 0.2s;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
#oldUser:hover{
    color: black;
}


@media (max-width:700px) {
    #oldUser{
        font-size: 15px;
    }
}


#msg1{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

@media (max-width:700px) {
    #msg1{
        font-size: 15px;
    }
}