body {
    background-color: rgb(187, 187, 187);
}


hr{
    border:0.3px solid rgb(58, 58, 58);
}

a{
    text-decoration: none;
}

input:focus{
    outline: none;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 10%;
    align-items: flex-start;
    justify-content: space-around;
}

@media (max-width:700px){
    #footer{
        padding-top: 0px;
    }
}




#footerLogo {
    color: rgb(122, 122, 122);
    font-weight: bold;
    font-style: italic;
    border: 0px solid white;
    margin-top: 0%;
    font-size: 210px;
    letter-spacing: -14px;
    font-family: monospace;
}
@media (max-width: 700px){
    #footerLogo{font-size: 110px;
    margin-left: -35px;
    border: 0px solid white;
    }
}



td{text-align: center;}

#loginCard {
    /* background-color: rgb(17, 17, 17); */
    background: linear-gradient(to bottom left, rgb(48, 48, 48), rgb(15, 15, 15));
    border: 0px solid white;
    border-radius: 5px;
    /* padding: 1% 1%; */
    /* margin-top: 0%; */
    width: 550px;
    /* color: rgb(212, 212, 212); */
}

@media (max-width: 700px){
    #loginCard{
        background-color: rgb(17, 17, 17);
        border-radius: 5px;
        margin-top: -15%;
        width: 350px;
    }
}

#loginCard td{
    border: 0px solid white;
    /* padding: 5%; */
    
}




#dataEnter {
    text-align: center;
    color: rgb(168, 168, 168);
    font-size: 36px;
    font-family: monospace;
}

@media (max-width:700px) {
    #dataEnter{
        font-size: 25px;
    }
}


.data {
    font-family: monospace;
    margin: 15%;
    color: rgb(160, 160, 160);
    font-weight: 100;
    font-size: 24px;
}


@media (max-width:700px) {
    .data{
        font-size: 17px;
        margin: 35%;
    }
}

.dataInput {
    background-color: rgb(38, 38, 38);
    border: 1px solid rgb(84, 84, 84);
    width: 50%;
    font-family: monospace;
    font-size: 24px;
    height: 25px;
    color: rgb(214, 214, 214);
}

@media (max-width:700px) {
    .dataInput{
        font-size: 17px;
    }
}



#makeEntry {
    background-color: rgb(39, 39, 39);
    height: 40px;
    margin-top: 20px;
    width: 150px;
    margin-bottom: 20px;
    font-family: monospace;
    transition-duration: 0.2s;
    font-size: 20px;
    border: 1px solid rgb(124, 124, 124);
    color: rgb(160, 160, 160);
}

#makeEntry:hover {
    background-color: rgb(163, 163, 163);
    color: rgb(41, 41, 41);
}



#oldUser {
    color: rgb(177, 177, 177);
    font-size: 19px;
    /* margin-left: 5%; */
    text-decoration: none;
    font-family: monospace;
}


@media (max-width:700px) {
    #oldUser{
        font-size: 15px;
    }
}


#msg1{
    color: rgb(255, 66, 66);
    size: 15px;
    font-family: monospace;
}